//pt serif bold and light
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

//light work sans
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital@0;1&display=swap');

//bold work sans
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,600;1,600&display=swap');

//rufina
@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');

body{ 
    width: 375px;
    margin: 0 auto;
    padding: 0;
    //show scrollbar on all pages so they dont mess up layout for larger pages
    overflow-y: scroll;
}