@import './variables';

.cart-button{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 1rem;
    border: none;
    background-color: $dark-bg;
    width: 3.8rem;
    height: 3.8rem;
    justify-self: right;
}
.cart-quantity{
    background-color: $status-bg;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    position: absolute;
    transform: translate(20px, -20px);
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    font-family: "PT Serif", serif;
}