.landing-wrapper{
    background-color: red;
    display: flex;
    justify-content: space-between;
    background-color: rgba(56, 132, 109, 1);
    z-index: 1;
    height: 100vh;
}
.landing-middle{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    z-index: 2;

}
.landing-middle h1{
    font-size: 2rem;

}
.landing-logo{
    width: 5rem;
    justify-self: center;
    align-self: center;
}