@import 'variables';

.profile-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: $dark-bg;
    height: 667px;
}
.profile-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $main-bg;
    height: 70%;
    width: 90%;
    margin: 0 auto;
}