@import 'variables';
.status-wrapper{
    display: flex;
    flex-direction: column;
    height: 667px;
    justify-content: center;
    align-items: center;
    background-color: $status-bg;
    color:white
}